//-----------------------------------------------------------------------
//
//  Layout » Admin
//
//  Contains all Admin layout style.
//
//-----------------------------------------------------------------------

.admin-container
  background-color: white

.analytics
  li
    text-decoration: none
    display: inline-block

.graph-container
  border: 1px solid #B8B8B8
  border-radius: 3px