//-----------------------------------------------------------------------
//
//  Layout » Admin
//
//  Contains all Admin layout style.
//
//-----------------------------------------------------------------------

.admin
  background-color: white

.submit
  div
    margin-bottom: 20px
  label
    color: #57534a
  .submit-vid
    margin-bottom: 5px
  .btn
    border: none
  form
    float: none
  hr
    position: relative
    display: block
    width: 980px
    height: 1px
    border: 0px
    background: #CCCCCC

.display-videos
  width: 40%
  ul
    font-size(18)
    list-style: none
    padding: 0
    margin: -7px 0 10px
  li
    font-size(13)
    margin-bottom: 12px
    background: $gray
    padding: 12px 10px
    border: 1px solid darken($gray, 10%)

.analytics
  li
    text-decoration: none
    display: inline-block

.graph-container
  border: 1px solid #B8B8B8
  border-radius: 3px