//-----------------------------------------------------------------------
//
//  Layout » Admin
//
//  Contains all Admin layout style.
//
//-----------------------------------------------------------------------

.admin
  background-color: white

.admin-greeting
  div
    margin: 0 auto
    text-align: right
  hr
    position: relative
    display: block
    width: 980px
    height: 1px
    border: 0px
    background: #CCCCCC

.submit 
  label
    color: #57534a
  .submit-vid
    margin: 20px
  .btn
    border: none
  form
    float: none

.analytics
  li
    text-decoration: none
    display: inline-block

.graph-container
  border: 1px solid #B8B8B8
  border-radius: 3px