//-----------------------------------------------------------------------
//
//  Layout » Footer
//
//  Contains all footer layout style.
//
//-----------------------------------------------------------------------

.main-footer
  text-align: center
  margin-bottom: 40px
  p
    margin: 0px