//-----------------------------------------------------------------------
//
//  Layout » Footer
//
//  Contains all footer layout style.
//
//-----------------------------------------------------------------------

.main-footer-wrapper
  background: $purple
  color: #fff

.main-footer
  column(12)
  padding: 50px 0
  text-align: center
  p
    margin: 0px
  a
    color: #fff
    &:hover
      color: $green