//-----------------------------------------------------------------------
//
//  Layout » Footer
//
//  Contains all footer layout style.
//
//-----------------------------------------------------------------------

.main-footer
  column(12)
  padding: 50px 0