//-----------------------------------------------------------------------
//
//  Layout » Header
//
//  Contains all header layout style.
//
//-----------------------------------------------------------------------

.main-header
  column(12)
  margin-top: 70px
  margin-bottom: 125px