//-----------------------------------------------------------------------
//
//  Layout » Header
//
//  Contains all header layout style.
//
//-----------------------------------------------------------------------

.main-header
  margin-bottom: 80px
  margin-top: 40px