//-----------------------------------------------------------------------
//
//  Layout » How to use
//
//  Contains all How to use layout style.
//
//-----------------------------------------------------------------------

.how-to-use
  column(12)
  margin-bottom: 80px

.instructions
  column(12)
  margin-bottom: 80px
  @media (min-width: 768px)
    column(4)
    margin-bottom: 0
  font-size: 13px
  .legend
    text-align: center
    margin: 0 auto
    .center
      padding: 35%