//-----------------------------------------------------------------------
//
//  Layout » How to use
//
//  Contains all How to use layout style.
//
//-----------------------------------------------------------------------

.how-to-use
  column(12)
  margin-bottom: 80px

.instructions
  column(12)
  margin-bottom: 80px
  @media (min-width: 768px)
    column(4)
    mrgin-bottom: 0