//-----------------------------------------------------------------------
//
//  Layout » Intro
//
//  Contains all Intro layout style.
//
//-----------------------------------------------------------------------

.intro
  column(12)
  margin-bottom: 250px
  @media (min-width: 481px)
    margin-bottom: 320px