//-----------------------------------------------------------------------
//
//  Layout » Intro
//
//  Contains all Intro layout style.
//
//-----------------------------------------------------------------------

.intro
  column(12)
  margin-bottom: 320px