//-----------------------------------------------------------------------
//
//  Layout » Team
//
//  Contains all Team layout style.
//
//-----------------------------------------------------------------------

.team-wrapper
  padding-top: 75px

.team
  column(12)
  margin-bottom: 80px

.member
  column(12)
  margin-bottom: 30px
  @media (min-width: 768px)
    column(4)
  @media (min-width: 1024px)
    &:first-of-type
      margin-left: 0