.admin-video-wrapper
  height: 540px
  background: $gray

.admin-container
  column(8)
  push(2)
  .video-wrapper
    width: 100%
    margin: 0 auto
    display: block
    padding: 0
    .video
      margin: 0 auto

.admin
    width: 100%
  .video-wrapper
    float: left
    z-index: 10
    margin: 0
  .explanation
    float: right

.admin-analytics
  height: 600px
  background: white
  .admin-analytics-wrapper
    column(8)
    push(2)
    #chart1
      background: white
    #chart2
      background: white

.video-title
  margin: 50px auto