.user-video-wrapper
  background: $gray
  height: 650px

.user-container
  column(8)
  push(2)
  margin-top: 20px
  .video-wrapper
    width: 100%
    margin: auto
    display: block
    .video
      margin: 0 auto

.user
    width: 100%
  .video-wrapper
    float: left
    z-index: 10
    margin: 0
    padding: 40px 0 40px 0
  .explanation
    float: right