.admin-video-wrapper
  height: 520px
  background: $gray

.admin-container
  column(8)
  push(2)
  margin-top: 20px
  .video-wrapper
    width: 100%
    margin: auto
    display: block
    .video
      margin: 0 auto

.admin
    width: 100%
  .video-wrapper
    float: left
    z-index: 10
    margin: 0
    padding: 40px 0 40px 0
  .explanation
    float: right

.admin-analytics
  height: 1250px
  background: white
  .section-title
    margin-top: 20px
  .admin-analytics-wrapper
    column(8)
    push(2)
    #chart1
      background: white
    #chart2
      background: white

