//-----------------------------------------------------------------------
//
//  Layout » Video Player
//
//  Contains all Video Player layout style.
//
//-----------------------------------------------------------------------

.video-wrapper
  column(12)
  @media (min-width: 768px)
    column(8)
    padding-top: 49px

.video
  width: 100%
  max-width: 640px