extends adminlayout

block content
  .admin
    .container
      section.submit
        h1.section-title Submit Video
        div Test heatmap with a video of your choice!  Submit link (currently only accepting videos in MP4 format):
        form(class='video-submit' action='/video' method='post')
          div
            label Enter video url
            br
            input(class='submit-vid' type='text' name='url')
            br
            label Enter video title
            br
            input(class='submit-vid' type='text' name='video_title')
            br
            input(class='submit-vid btn' type='submit' value='submit')
        hr

      section.display-videos
        h1.section-title Your Videos
        ul.user-videos
