extends layout

block content
  a.github-fork(href="https://github.com/saraloves/videoheatmap")
    img(src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png" alt="Fork me on GitHub")
  .container
    header.main-header
      img.logo(src="images/logo.png" width="189" height="41")
      nav.main-nav
        ul
          li: a.btn(href="#") Login

      //- adding form to test passport login and registration
      //- form(action='/auth/login' method="post")
      //-   div
      //-     label Username
      //-     input(type='text' name='username')
      //-     label Password
      //-     input(type='text' name='password')
      //-     input(type='submit' value='Login')

      //- form(action='/auth/register' method='post')
      //-   div
      //-     label New Username
      //-     input(type='text' name='username')
      //-     label New Password
      //-     input(type='text' name='password')
      //-     input(type='submit' value='Login')

    .intro
      h1 Skip to the good stuff
      p Heatvote allows users to vote on moments within a video.  These votes are then aggregated into a heat map, where users can see where the most liked, least liked, and the most controversial moments occur before watching the video.  All features are integrated into a standalone video player.  There's no need to worry about APIs, compatibility issues, and you can host your own videos.

    section.how-to-use
      .instructions
        h1.section-title How to use
          ul
          li
            strong 1.
            |  Watch video
          li
            strong 2.
            |  Click on the thumbs when you
            | like/dislike a moment of the video
          li
            strong 3.
            |  Click on the star to view all
            | votes for this video!
        h2.section-title Heatmap color scale
        img(src="#")  Red means awesome HOT stuff, blue means meh.  Purple is a combination of both.  Make this when we have the heatmap colors chosen
      .video-wrapper

  .team-wrapper
    .container
      section.team
        h1.section-title Team
        article.member
          figure.member-img
            img(src="/images/sara.jpg")
          h1 Sara Binns
          h2 Software Engineer
          ul
            li
              a.icon(href="https://twitter.com/SaraDeveloper")
                i.icon-twitter
            li
              a.icon(href="https://github.com/saraloves")
                i.icon-github
            li
              a.icon(href="http://www.linkedin.com/profile/view?id=44019912&trk=nav_responsive_tab_profile")
                i.icon-linkedin

        article.member
          figure.member-img
            img(src="/images/joao.jpg")
          h1 Joao Stein
          h2 Software Engineer
          ul
            li
              a.icon(href="https://twitter.com/joaostein")
                i.icon-twitter
            li
              a.icon(href="https://github.com/joaostein")
                i.icon-github
            li
              a.icon(href="http://www.linkedin.com/in/joaostein")
                i.icon-linkedin

        article.member
          figure.member-img
            img(src="/images/lindsey.jpg")
          h1 Lindsey Smith
          h2 Software Engineer
          ul
            li
              a.icon(href="https://twitter.com/leaena")
                i.icon-twitter
            li
              a.icon(href="https://github.com/leaena")
                i.icon-github
            li
              a.icon(href="http://www.linkedin.com/in/leaena")
                i.icon-linkedin

  .main-footer-wrapper
    .container
      footer.main-footer
        p
          | &copy; Produced at&nbsp;
          a(href="#") Hack Reactor
