extends layout

block content
  header(class="main-header")
    div(class="logo")
      img(src="#" width="460" height="100")
    h1 Skip to the good stuff  
    p Heatvote allows users to vote on moments within a video.  These votes are then aggregated into a heat map, where users can see where the most liked, least liked, and the most controversial moments occur before watching the video.  All features are integrated into a standalone video player.  There's no need to worry about APIs, compatibility issues, and you can host your own videos. 
  section(class="how-to-use clearfix")
    div(class="instructions")
      h1 How to use heatvote:
      ul(style='white-space:pre;')
        li Step 1: Watch video
        li Step 2: Click on the thumbs when you 
        | like/dislike a moment of the video
        li Step 3: Click on the star to view all 
        | votes for this video!
        li Heatmap Color Scale
        img(src="#")  Red means awesome HOT stuff, blue means meh.  Purple is a combination of both.  Make this when we have the heatmap colors chosen
    div(class="video-wrapper")
  section(class="team clearfix")
    h1 Team
    article(class="member")
      img(src="#" width="220" height="100")
      h1 Name
      ul 
        li: a(href="#") Twitter
        li: a(href="#") GitHub
        li: a(href="#") Blog
        li: a(href="#") LinkedIn
    article(class="member")
      img(src="#" width="220" height="100")
      h1 Name
      ul 
        li: a(href="#") Twitter
        li: a(href="#") GitHub
        li: a(href="#") Blog
        li: a(href="#") LinkedIn
    article(class="member")
      img(src="#" width="220" height="100")
      h1 Name
      ul 
        li: a(href="#") Twitter
        li: a(href="#") GitHub
        li: a(href="#") Blog
        li: a(href="#") LinkedIn
  footer
    p 
      | &copy; Produced at 
      a(href="#") Hack Reactor
