extends layout

block content
  .container
    .intro
      h1 Skip to the good stuff
      p Heatvote allows users to vote on moments within a video.  These votes are then aggregated into a heat map, where users can see where the most liked, least liked, and the most controversial moments occur before watching the video.  All features are integrated into a standalone video player.  There's no need to worry about APIs, compatibility issues, and you can host your own videos.

    section.how-to-use
      .instructions
        h1.section-title How to use
        ul
          li
            strong 1.
            |  Log in or register
          li
            strong 2.
            |  Watch video
          li
            strong 3.
            |  Click on the thumbs when you
            | like/dislike a moment of the video
          li
            strong 4.
            |  Click on the star to view all
            | votes for this video!

        img(src="/images/heatmap.png")
        .legend
          span Meh
          span.center Mixed
          span Hot
        div * The brighter the color, the more votes
      .video-wrapper

  .charts-example
    .container
      h1.section-title Data visualization
      #chart1.chart
        h2 Votes Over Time
        svg

      #chart2.chart
        h2 Voting Distribution over Length of Video
        svg

  .team-wrapper
    .container
      section.team
        h1.section-title Team
        article.member
          figure.member-img
            img(src="/images/sara.jpg")
          h1 Sara Binns
          h2 Software Engineer
          ul
            li
              a.icon(href="https://twitter.com/SaraDeveloper")
                i.icon-twitter
            li
              a.icon(href="https://github.com/saraloves")
                i.icon-github
            li
              a.icon(href="http://www.linkedin.com/profile/view?id=44019912&trk=nav_responsive_tab_profile")
                i.icon-linkedin

        article.member
          figure.member-img
            img(src="/images/joao.jpg")
          h1 Joao Stein
          h2 Software Engineer
          ul
            li
              a.icon(href="https://twitter.com/joaostein")
                i.icon-twitter
            li
              a.icon(href="https://github.com/joaostein")
                i.icon-github
            li
              a.icon(href="http://www.linkedin.com/in/joaostein")
                i.icon-linkedin

        article.member
          figure.member-img
            img(src="/images/lindsey.jpg")
          h1 Lindsey Smith
          h2 Software Engineer
          ul
            li
              a.icon(href="https://twitter.com/leaena")
                i.icon-twitter
            li
              a.icon(href="https://github.com/leaena")
                i.icon-github
            li
              a.icon(href="http://www.linkedin.com/in/leaena")
                i.icon-linkedin
