extends layout

block content
  div(class="container_16")
    header(class="main-header grid_16")
      div(class="logo grid_16")
        img(src="#" width="460" height="100")
      div(class="intro grid_12 prefix_2 suffix_2")
        h1 Skip to the good stuff
        p Heatvote allows users to vote on moments within a video.  These votes are then aggregated into a heat map, where users can see where the most liked, least liked, and the most controversial moments occur before watching the video.  All features are integrated into a standalone video player.  There's no need to worry about APIs, compatibility issues, and you can host your own videos.
    section(class="how-to-use grid_16")
      div(class="instructions grid_5 alpha")
        h1(class="section-title") How to use:
        ul
          li
            strong Step 1:
            |  Watch video
          li
            strong Step 2:
            |  Click on the thumbs when you
            | like/dislike a moment of the video
          li
            strong Step 3:
            |  Click on the star to view all
            | votes for this video!
          li Heatmap Color Scale
          img(src="#")  Red means awesome HOT stuff, blue means meh.  Purple is a combination of both.  Make this when we have the heatmap colors chosen
      div(class="video-wrapper grid_11 omega")
    section(class="team grid_16")
      h1(class="section-title") Team
      div(class="grid_14 prefix_1 suffix_1")
        article(class="member grid_4 alpha")
          img(src="/images/sara.jpg" width="156" height="156")
          h1 Sara Binns
          ul
            li: a(href="https://twitter.com/SaraDeveloper") Twitter
            li: a(href="https://github.com/saraloves") GitHub
            li: a(href="https://sarabinns.com") Blog
            li: a(href="http://www.linkedin.com/profile/view?id=44019912&trk=nav_responsive_tab_profile") LinkedIn
        article(class="member prefix_1 grid_4")
          img(src="/images/joao.jpg" width="156" height="156")
          h1 Joao Stein
          ul
            li: a(href="https://twitter.com/joaostein") Twitter
            li: a(href="https://github.com/joaostein") GitHub
            li: a(href="http://www.joaostein.com.br/") Blog
            li: a(href="http://www.linkedin.com/in/joaostein") LinkedIn
        article(class="member grid_4 prefix_1 omega")
          img(src="/images/lindsey.jpg" width="156" height="156")
          h1 Lindsey Smith
          ul
            li: a(href="https://twitter.com/leaena") Twitter
            li: a(href="https://github.com/leaena") GitHub
            li: a(href="http://leaena.com") Blog
            li: a(href="http://www.linkedin.com/in/leaena") LinkedIn
    footer(class="main-footer grid_16")
      p
        | &copy; Produced at&nbsp;
        a(href="#") Hack Reactor
