extends layout

block content
  header
    img(src="#" width="460" height="100")
    h1 Cool Hook Sentence
    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
  section(class="how-to-use")
    div(class="instructions")
      h1 How to use heatvote:
      ol
        li Lorem ipsum dolor sit ame
        li Lorem ipsum dolor sit ame
        li Lorem ipsum dolor sit ame
        li Lorem ipsum dolor sit ame
    div(class="video")
  section(class="team")
    article(class="member")
      img(src="#" width="220" height="100")
      h1 Name
      ul 
        li: a(href="#") Twitter
        li: a(href="#") GitHub
        li: a(href="#") Blog
        li: a(href="#") LinkedIn
    article(class="member")
      img(src="#" width="220" height="100")
      h1 Name
      ul 
        li: a(href="#") Twitter
        li: a(href="#") GitHub
        li: a(href="#") Blog
        li: a(href="#") LinkedIn
    article(class="member")
      img(src="#" width="220" height="100")
      h1 Name
      ul 
        li: a(href="#") Twitter
        li: a(href="#") GitHub
        li: a(href="#") Blog
        li: a(href="#") LinkedIn
  footer
    p 
      | &copy; Produced at 
      a(href="#") Hack Reactor
