doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    //- Templates
    script(id="videoTemplate", type="text/template")
      div(id != "<%= id %>")
      div(id!="video-<%= id %>")
      a(class="like-button btn" data-vote="like" href="#") Like
      a(class="dislike-button btn" data-vote="dislike" href="#") Dislike

    //- Libs
    script(src='/components/jquery/jquery.js')
    script(src='/components/underscore/underscore.js')
    script(src='/components/backbone/backbone.js')
    script(src='/components/swfobject/swfobject/swfobject.js')
    script(src='/components/d3/d3.js')

    //- Backbone Models
    script(src='/javascripts/models/App.js')
    script(src='/javascripts/models/Vote.js')
    script(src='/javascripts/models/VideoPlayer.js')

    //- Backbone Collections
    script(src='/javascripts/collections/VoteList.js')
    script(src='/javascripts/collections/VideoPlayersList.js')

    //- Backbone Views
    script(src='/javascripts/views/App.js')
    script(src='/javascripts/views/VideoPlayer.js')

    //- Init app
    script(src='/javascripts/app.js')
