doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    script(src='/components/jquery/jquery.js')
    script(src='/components/swfobject/swfobject/swfobject.js')
    script(src='/javascripts/youtubeApi.js')