!!!
html
  head
    title= title

    //- vendor
    link(rel='stylesheet' href='/components/video.js/video-js.min.css')
    link(rel='stylesheet' href='https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css')
    link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400,700')

    //- stylesheets
    link(rel="stylesheet" href="/stylesheets/application.css")
    link(rel="stylesheet" href="/components/nvd3/nv.d3.min.css")

  body.with-3d-shadow.with-transitions
    a.github-fork(href="https://github.com/saraloves/videoheatmap")
      img(src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png" alt="Fork me on GitHub")
    .container
      header.main-header
        img.logo(src="/images/logo.png" width="189" height="41")
        nav.main-nav
          form(class='login hidden' action='/auth/login' method='post')
            div
              label Username
              input.input(type='text' name='username')
              label Password
              input.input(type='password' name='password')
              input.btn(type='submit' value='Login') Login

          form(class='register hidden' action='/auth/register' method='post')
            div
              label New Username
              input.input(type='text' name='username')
              label New Password
              input.input(type='password' name='password')
              input.btn(type='submit' value='Register') Register
          if user
            ul
              li Hello #{user.username}
              li: a.btn(class="admin-button" href="/admin") Admin
              li: a.btn(class="logout-button" href="/auth/logout") Logout
          else
            ul
              li: a.btn(class="login-button" href="#") Login
              li: a.btn(class="register-button" href="#") Register

        //- adding form to test passport login and registration


    block content

    .main-footer-wrapper
      .container
        footer.main-footer
          p
            | &copy; Produced at&nbsp;
            a(href="http://www.hackreactor.com/") Hack Reactor

    //- Templates
    script(id="videoTemplate" type="text/template")
      video(id != "<%= id %>" class="video-js vjs-default-skin" width="auto" height="auto" controls)
        source(type="video/mp4" src!= "<%= url %>" + '.mp4')
        source(type="video/webm" src!= "<%= url %>" + '.webm')

    //- Libs
    script(src='/components/jquery/jquery.js')
    script(src='/components/underscore/underscore.js')
    script(src='/components/backbone/backbone.js')
    script(src='/components/swfobject/swfobject/swfobject.js')
    script(src='/components/d3/d3.js')
    script(src='/components/video.js/video.js')

    //- NVD3 charts
    script(src='/components/nvd3/nv.d3.min.js')
    script(src='/javascripts/charts/helpers.js')
    script(src='/javascripts/charts/lineDaysVotes.js')
    script(src='/javascripts/charts/videoLengthVotes.js')
    script(src='/javascripts/charts/videoHeatmapCharts.js')


    //- Backbone Models
    script(src='/javascripts/models/App.js')
    script(src='/javascripts/models/Vote.js')
    script(src='/javascripts/models/VideoPlayer.js')

    //- Backbone Collections
    script(src='/javascripts/collections/VoteList.js')
    script(src='/javascripts/collections/VideoPlayersList.js')

    //- Backbone Views
    script(src='/javascripts/views/App.js')
    script(src='/javascripts/views/VideoPlayer.js')

    //- Init app
    if page === 'home'
      script(src='/javascripts/app.js')
    else if page === 'usershare'
      script(src='/javascripts/uservideo.js')

    script(src='/javascripts/admin.js')
