extends layout

block content
  .admin-video-wrapper
    .admin-container
      h1.section-title Your Video
      .video-wrapper

  .admin-analytics
    .admin-analytics-wrapper
      h1.section-title Your Analytics
      #chart1.chart
        h3 Votes Over Time
        svg
      //- #chart2.chart
      //-   h3 Voting Distribution over Length of Video
      //-   svg
