extends layout

block content
  .user-video-wrapper
    .user-container
      .explanation
        h2 You have been selected to test out Heatvote!
        div To participate, register, watch the video and vote thumbs up or thumbs down on moments that you like.  Click on the star to see the votes of all users.  Feel free to navigate around the video and see users' favorite moments.  If you want to upload your own videos, check out the admin page.
        br
        div Find out more at heatvote.com.
      .video-wrapper