extends layout

block content
  .admin-video-wrapper
    .admin-container
      h1.section-title Your Video
      .video-wrapper

  .admin-analytics
    .admin-analytics-wrapper
      h1.section-title Your Analytics
      h2 Babu's Interview
      #chart1
        h3 Votes Over Time
        svg(style="height: 500px")
      #chart2
        h3 Voting Distribution over Length of Video
        svg(style="height: 500px")