//-----------------------------------------------------------------------
//
//  Base » Buttons
//
//  Contains all buttons style.
//
//-----------------------------------------------------------------------

.btn
  inline-block()
  border-radius(3px)
  font-size(14)
  text-decoration: none
  background: $blue
  padding: 10px 35px
  color: #fff
  &:hover
    background: darken($blue, 10%)
    color: #fff

.github-fork
  display: none
  @media (min-width: 1025px)
    display: block
    img
      position: absolute
      top: 0
      right: 0
      right: 0
      border: 0
