//-----------------------------------------------------------------------
//
//  Base » Buttons
//
//  Contains all buttons style.
//
//-----------------------------------------------------------------------

.btn
  inline-block()
  border-radius(3px)
  text-decoration: none
  background: #28bef0
  padding: 10px 35px