//-----------------------------------------------------------------------
//
//  Base » Buttons
//
//  Contains all buttons style.
//
//-----------------------------------------------------------------------

.btn
  inline-block()
  border-radius(3px)
  font-size(14)
  text-decoration: none
  background: #28bef0
  padding: 10px 35px
  color: #fff
  &:hover
    background: #2899f0
    color: #fff