//-----------------------------------------------------------------------
//
//  Base » General
//
//  Contains all general style.
//
//-----------------------------------------------------------------------

.container
  container()

.hidden
  visibility: hidden

body
  background-color: #eee
  font-family: 'Open Sans', Helvetica, Arial, sans-serif

a
  color: #57534a
  &:hover
    color: #ff2a00