//-----------------------------------------------------------------------
//
//  Base » General
//
//  Contains all general style.
//
//-----------------------------------------------------------------------

.container
  container()

.hidden
  visibility: hidden

body
  background: #fff url('../images/header-bg.jpg') center -250px no-repeat
  font-family: 'Open Sans', Helvetica, Arial, sans-serif

a
  color: #57534a
  &:hover
    color: #ff2a00