//-----------------------------------------------------------------------
//
//  Base » Settings
//
//  Contains all settings configurations.
//
//-----------------------------------------------------------------------

//--------------- Variables ---------------//
base-font-size = 16
base-line-height = 24

//--------------- Grid ---------------//
column-width = 60px
gutter-width = 20px
columns = 12
total-width = 100%

//--------------- Mixins ---------------//
font-size($fontValue = base-font-size, $baseFontValue = base-font-size, $baseLineValue = base-line-height)
  font-size   $fontValue px
  font-size   ($fontValue / $baseFontValue) rem
  line-height ($fontValue / $baseFontValue) * $baseLineValue
  line-height ($baseLineValue/$baseFontValue) * ($fontValue / $baseFontValue) rem
