@charset "utf-8";
@import "base/normalize.css";
body {
  width: 100%;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  *zoom: 1;
}
.container:before,
.container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}
.hidden {
  visibility: hidden;
}
body {
  background: #fff url("../images/header-bg.jpg") no-repeat;
  background-position: center top;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #34495e;
}
@media (min-width: 480px) {
  body {
    background-position: center -100px;
  }
}
@media (min-width: 768px) {
  body {
    background-position: center -250px;
  }
}
a {
  color: #57534a;
}
a:hover {
  color: #ff2a00;
}
img {
  max-width: 100%;
  display: block;
}
.section-title {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 24px;
  line-height: 1.5rem;
  color: #1abc9c;
  font-weight: 700;
  margin: 0 0 25px;
}
.btn {
  *vertical-align: auto;
  *display: inline;
  zoom: 1;
  display: -moz-inline-stack;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 21;
  line-height: 1.3125rem;
  text-decoration: none;
  background: #3498db;
  padding: 10px 35px;
  color: #fff;
}
.btn:hover {
  background: #258bcf;
  color: #fff;
}
.github-fork {
  display: none;
}
@media (min-width: 1025px) {
  .github-fork {
    display: block;
  }
  .github-fork img {
    position: absolute;
    top: 0;
    right: 0;
    right: 0;
    border: 0;
  }
}
.main-header {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  *width: 97.91666666666666% -correction;
  *margin: 0 1.0416666666666665% -correction;
  margin-top: 70px;
  margin-bottom: 125px;
}
.intro {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  *width: 97.91666666666666% -correction;
  *margin: 0 1.0416666666666665% -correction;
  margin-bottom: 250px;
}
@media (min-width: 481px) {
  .intro {
    margin-bottom: 320px;
  }
}
.how-to-use {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  *width: 97.91666666666666% -correction;
  *margin: 0 1.0416666666666665% -correction;
  margin-bottom: 80px;
}
.instructions {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  *width: 97.91666666666666% -correction;
  *margin: 0 1.0416666666666665% -correction;
  margin-bottom: 80px;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 19.5px;
  line-height: 1.21875rem;
}
@media (min-width: 768px) {
  .instructions {
    display: inline;
    float: left;
    overflow: hidden;
    width: 31.25%;
    margin: 0 1.0416666666666665%;
    *width: 31.25% -correction;
    *margin: 0 1.0416666666666665% -correction;
    margin-bottom: 0;
  }
}
.instructions .legend {
  text-align: center;
  margin: 0 auto;
}
.instructions .legend .center {
  padding: 35%;
}
.video-wrapper {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  *width: 97.91666666666666% -correction;
  *margin: 0 1.0416666666666665% -correction;
}
@media (min-width: 768px) {
  .video-wrapper {
    display: inline;
    float: left;
    overflow: hidden;
    width: 64.58333333333334%;
    margin: 0 1.0416666666666665%;
    *width: 64.58333333333334% -correction;
    *margin: 0 1.0416666666666665% -correction;
    padding-top: 49px;
  }
}
.video {
  width: 100%;
  max-width: 640px;
}
.team-wrapper {
  padding-top: 75px;
}
.team {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  *width: 97.91666666666666% -correction;
  *margin: 0 1.0416666666666665% -correction;
  margin-bottom: 80px;
}
.member {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  *width: 97.91666666666666% -correction;
  *margin: 0 1.0416666666666665% -correction;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .member {
    display: inline;
    float: left;
    overflow: hidden;
    width: 31.25%;
    margin: 0 1.0416666666666665%;
    *width: 31.25% -correction;
    *margin: 0 1.0416666666666665% -correction;
  }
}
@media (min-width: 1024px) {
  .member:first-of-type {
    margin-left: 0;
  }
}
.main-footer {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  *width: 97.91666666666666% -correction;
  *margin: 0 1.0416666666666665% -correction;
  padding: 50px 0;
}
.admin {
  background-color: #fff;
}
.submit div {
  margin-bottom: 20px;
}
.submit label {
  color: #57534a;
}
.submit .submit-vid {
  margin-bottom: 5px;
}
.submit .btn {
  border: none;
}
.submit form {
  float: none;
}
.submit hr {
  position: relative;
  display: block;
  width: 980px;
  height: 1px;
  border: 0px;
  background: #ccc;
}
.display-videos {
  width: 40%;
}
.display-videos ul {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 27;
  line-height: 1.6875rem;
  list-style: none;
  padding: 0;
  margin: -7px 0 10px;
}
.display-videos li {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 19.5;
  line-height: 1.21875rem;
  margin-bottom: 12px;
  background: #f3f3f3;
  padding: 12px 10px;
  border: 1px solid #dbdbdb;
}
.analytics li {
  text-decoration: none;
  display: inline-block;
}
.graph-container {
  border: 1px solid #b8b8b8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.admin-video-wrapper {
  height: 520px;
  background: #f3f3f3;
}
.admin-container {
  display: inline;
  float: left;
  overflow: hidden;
  width: 64.58333333333334%;
  margin: 0 1.0416666666666665%;
  *width: 64.58333333333334% -correction;
  *margin: 0 1.0416666666666665% -correction;
  margin-left: 17.708333333333336%;
  margin-top: 20px;
}
.admin-container .video-wrapper {
  width: 100%;
  margin: auto;
  display: block;
}
.admin-container .video-wrapper .video {
  margin: 0 auto;
}
.admin {
  width: 100%;
}
.video-wrapper {
  float: left;
  z-index: 10;
  margin: 0;
  padding: 40px 0 40px 0;
}
.explanation {
  float: right;
}
.admin-analytics {
  height: 1250px;
  background: #fff;
}
.admin-analytics .section-title {
  margin-top: 20px;
}
.admin-analytics .admin-analytics-wrapper {
  display: inline;
  float: left;
  overflow: hidden;
  width: 64.58333333333334%;
  margin: 0 1.0416666666666665%;
  *width: 64.58333333333334% -correction;
  *margin: 0 1.0416666666666665% -correction;
  margin-left: 17.708333333333336%;
}
.admin-analytics .admin-analytics-wrapper #chart1 {
  background: #fff;
}
.admin-analytics .admin-analytics-wrapper #chart2 {
  background: #fff;
}
.user-video-wrapper {
  background: #f3f3f3;
  height: 650px;
}
.user-container {
  display: inline;
  float: left;
  overflow: hidden;
  width: 64.58333333333334%;
  margin: 0 1.0416666666666665%;
  *width: 64.58333333333334% -correction;
  *margin: 0 1.0416666666666665% -correction;
  margin-left: 17.708333333333336%;
  margin-top: 20px;
}
.user-container .video-wrapper {
  width: 100%;
  margin: auto;
  display: block;
}
.user-container .video-wrapper .video {
  margin: 0 auto;
}
.user {
  width: 100%;
}
.video-wrapper {
  float: left;
  z-index: 10;
  margin: 0;
  padding: 40px 0 40px 0;
}
.explanation {
  float: right;
}
.main-nav {
  margin-top: 80px;
  text-align: center;
}
@media (min-width: 480px) {
  .main-nav {
    text-align: left;
    margin-top: 0;
    float: right;
  }
}
.main-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.main-nav ul li {
  display: inline;
  margin-left: 20px;
}
form {
  display: inline;
  color: #fff;
  float: right;
  margin: 0px;
  padding: 0px;
}
.main-nav li {
  color: #fff;
}
.main-nav input {
  margin-left: 10px;
  margin-right: 10px;
  border: 0px;
}
.main-nav .input {
  width: 100px;
}
.hidden {
  display: none;
}
.logo {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 36;
  line-height: 2.25rem;
  width: 189px;
  margin: 0 auto;
  display: block;
}
@media (min-width: 480px) {
  .logo {
    margin: 0;
    float: left;
  }
}
.intro {
  text-align: center;
  color: #fff;
}
.intro h1 {
  color: #1abc9c;
  margin-top: 0;
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 60px;
  line-height: 3.75rem;
  text-transform: uppercase;
}
.instructions ul {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 27;
  line-height: 1.6875rem;
  list-style: none;
  padding: 0;
  margin: -7px 0 10px;
}
.instructions li {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 19.5;
  line-height: 1.21875rem;
  margin-bottom: 12px;
  background: #f3f3f3;
  padding: 12px 10px;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}
.instructions strong {
  color: #3498db;
}
.instructions img {
  margin: auto;
}
.instructions div {
  text-align: right;
}
.charts-example {
  padding-top: 75px;
  background: #f3f3f3;
}
.charts-example .section-title {
  margin-bottom: 30px;
}
.charts-example h2 {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 22.5;
  line-height: 1.40625rem;
  color: #3498db;
}
.heatmap-button {
  display: inline-block;
  background: #ccc;
  padding: 10px;
  text-decoration: none;
  margin-left: 5px;
}
.video-js {
  padding-top: 56.25%;
}
.vjs-fullscreen {
  padding-top: 0px;
}
.heatmap {
  position: absolute;
  left: 0px;
  top: 340px;
  z-index: 10;
}
.vjs-control.vjs-heat-button:before {
  font-family: FontAwesome;
  content: "\f123";
}
.vjs-control.vjs-upvote-button:before {
  font-family: FontAwesome;
  content: "\f087";
}
.vjs-control.vjs-downvote-button:before {
  font-family: FontAwesome;
  content: "\f088";
}
.vjs-heatmap {
  font-family: FontAwesome;
  display: block;
  z-index: 10;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 10px !important;
  width: 100% !important;
}
.vjs-default-skin .vjs-control-bar {
  height: 4em !important;
}
.team .section-title {
  margin-top: 0;
  margin-left: 10px;
}
@media (min-width: 480px) {
  .team .section-title {
    margin-left: 85px;
  }
}
@media (min-width: 768px) {
  .team .section-title {
    margin-left: 0;
  }
}
.member {
  text-align: center;
}
.member h1 {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 22.5;
  line-height: 1.40625rem;
  color: #3498db;
}
.member h2 {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 19.5;
  line-height: 1.21875rem;
  font-weight: 400;
  color: #34495e;
  margin-bottom: 20px;
}
.member ul {
  *zoom: 1;
  text-align: center;
  margin: 0;
  list-style: none;
  padding: 0;
}
.member ul:before,
.member ul:after {
  content: "";
  display: table;
}
.member ul:after {
  clear: both;
}
.member li {
  *vertical-align: auto;
  *display: inline;
  zoom: 1;
  display: -moz-inline-stack;
  display: inline-block;
  margin-right: 10px;
}
.member a {
  text-decoration: none;
}
.member-img {
  *vertical-align: auto;
  *display: inline;
  zoom: 1;
  display: -moz-inline-stack;
  display: inline-block;
  margin-bottom: 20px;
  border: 1px solid #dbdbdb;
}
.icon {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  box-sizing: border-box;
  text-align: center;
  font-family: FontAwesome;
  background: #f3f3f3;
  padding: 5px;
  display: block;
  width: 27px;
  height: 27px;
}
.icon:hover {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  background: #1abc9c;
  color: #fff;
}
.icon-twitter:before {
  content: '\f099';
}
.icon-github:before {
  content: '\f113';
}
.icon-linkedin:before {
  content: '\f0e1';
}
.main-footer-wrapper {
  background: #2c3e50;
  color: #fff;
}
.main-footer {
  text-align: center;
}
.main-footer p {
  margin: 0px;
}
.main-footer a {
  color: #fff;
}
.main-footer a:hover {
  color: #1abc9c;
}
