// -----------------------------------------------------------------------

//  Base » General

//  Contains all general style.

// -----------------------------------------------------------------------

.hidden {
	visibility: hidden;
}

body {
  // background-color: #ebebeb;
  background-color: #eee;
  font-family: 'Varela Round', sans-serif;
  // background-color: #dcdcdc;
}

a {
  color: #57534a;
  &:hover {
    color: #ff2a00;
  }
}

//-----------------------------------------------------------------------
//
//  Base » Header
//
//  Contains all header style.
//
//-----------------------------------------------------------------------

.main-header {
  margin-bottom: 80px;
  margin-top: 40px;
}

.logo {
  margin-bottom: 80px;
  img {
    display: block;
    width: 460px;
    margin: 0 auto;
  }
}

.intro {
  text-align: center;
  h1 {
    margin-top: 0;
    font-size: 40px;
    text-transform: uppercase;
  }
}

//-----------------------------------------------------------------------
//
//  Base » How to use
//
//  Contains all how to use section style.
//
//-----------------------------------------------------------------------

.how-to-use {
  margin-bottom: 80px;
}

.instructions {
  h1 {
    margin: 0;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    margin-bottom: 10px;
  }
}

//-----------------------------------------------------------------------
//
//  Base » Team
//
//  Contains all team section style.
//
//-----------------------------------------------------------------------

.team {
  margin-bottom: 80px;
  h1 {
    margin-top: 0;
  }
}

.section-title {
  margin-bottom: 50px;
}

.member {
  text-align: center;
  ul {
    list-style: none;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  h1 {
    font-size: 24px;
  }
  img {
    margin-bottom: 20px;
  }
}



//-----------------------------------------------------------------------
//
//  Base » Footer
//
//  Contains all footer style.
//
//-----------------------------------------------------------------------

.main-footer {
  text-align: center;
  margin-bottom: 40px;
  p {
    margin: 0px;
  }
}

//-----------------------------------------------------------------------
//
//  Base » Video Player
//
//  Contains all video player style.
//
//-----------------------------------------------------------------------

.heatmap-button {
  display: inline-block;
  background: #ccc;
  padding: 10px;
  text-decoration: none;
  margin-left: 5px;
}

.video {
  position: relative;
}

.heatmap {
  position: absolute;
  left: 0px;
  top:340px;
  z-index: 10;
}

svg {
  background: rgba(20, 20, 20, 0.6);
  opacity: 0.75;
}

.vjs-control.vjs-heat-button:before {
  font-family: FontAwesome;
  content: "\f123";

}
.vjs-control.vjs-upvote-button:before {
  font-family: FontAwesome;
  content: "\f087";
}
.vjs-control.vjs-downvote-button:before {
  font-family: FontAwesome;
  content: "\f088";
}
.vjs-heatmap {
  font-family: FontAwesome;
  display: block;
  z-index: 10;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 10px !important;
  width: 100% !important;
}
.vjs-default-skin .vjs-control-bar {
  height: 4em !important;
}