//-----------------------------------------------------------------------
//
//  Modules » Authentication
//
//  Contains all Authentication module style.
//
//-----------------------------------------------------------------------

form
  display: inline
  color: white
  margin-left: 20px

.main-nav
  li
    color: white

.hidden
  display: none