//-----------------------------------------------------------------------
//
//  Modules » Authentication
//
//  Contains all Authentication module style.
//
//-----------------------------------------------------------------------

form
  display: inline
  color: white
  float: right
  margin: 0px
  padding: 0px

.main-nav
  li
    color: white
  input
    margin-left: 10px
    margin-right: 10px
    border: 0px
  .input
    width: 100px

.hidden
  display: none