//-----------------------------------------------------------------------
//
//  Modules » Charts Example
//
//  Contains all Charts example section module style.
//
//-----------------------------------------------------------------------

.chart svg
  height: 400px

.charts-example
  padding-top: 75px
  background: $gray
  .section-title
    margin-bottom: 30px
  h2
    font-size(15)
    color: $blue