//-----------------------------------------------------------------------
//
//  Modules » Charts Example
//
//  Contains all Charts example section module style.
//
//-----------------------------------------------------------------------
