//-----------------------------------------------------------------------
//
//  Modules » How to Use
//
//  Contains all How to use module style.
//
//-----------------------------------------------------------------------

.how-to-use
  column(12)
  margin-bottom: 80px

.instructions
  column(4)
  h1, h2
    color: $green
  ul
    font-size(18)
    list-style: none
    padding: 0
    margin: 0 0 35px
  li
    margin-bottom: 15px
    background: #f3f3f3
    padding: 12px 10px
    border-top: 1px solid #e2e2e2
    border-bottom: 1px solid #e2e2e2
  strong
    color: $blue
