//-----------------------------------------------------------------------
//
//  Modules » How to Use
//
//  Contains all How to use module style.
//
//-----------------------------------------------------------------------

.how-to-use
  margin-bottom: 80px

.instructions
  h1
    margin: 0
  ul
    list-style: none
    padding: 0
  li
    margin-bottom: 10px
