//-----------------------------------------------------------------------
//
//  Modules » How to Use
//
//  Contains all How to use module style.
//
//-----------------------------------------------------------------------

.how-to-use
  column(12)
  margin-bottom: 80px

.instructions
  column(4)
  ul
    font-size(18)
    list-style: none
    padding: 0
    margin: 0 0 35px
  li
    margin-bottom: 15px
    background: $gray
    padding: 12px 10px
    border-top: 1px solid darken($gray, 10%)
    border-bottom: 1px solid darken($gray, 10%)
  strong
    color: $blue
