//-----------------------------------------------------------------------
//
//  Modules » Icons
//
//  Contains all Icons module style.
//
//-----------------------------------------------------------------------

.icon
  font-family: FontAwesome
  background: #fff
  padding: 5px
  border-radius(50%)
  &:hover
    transition(all 300ms ease)
    background: $dark-gray
    color: #fff

// Twitter
.icon-twitter
  &:before
    content: '\f099'

// Github
.icon-github
  &:before
    content: '\f113'

// Linkedin
.icon-linkedin
  &:before
    content: '\f0e1'







