//-----------------------------------------------------------------------
//
//  Modules » Icons
//
//  Contains all Icons module style.
//
//-----------------------------------------------------------------------

.icon
  border-radius(100%)
  box-sizing: border-box
  text-align: center
  font-family: FontAwesome
  background: $gray
  padding: 5px
  display: block
  width: 27px
  height: 27px
  &:hover
    transition(all 300ms ease)
    background: $green
    color: #fff

// Twitter
.icon-twitter
  &:before
    content: '\f099'

// Github
.icon-github
  &:before
    content: '\f113'

// Linkedin
.icon-linkedin
  &:before
    content: '\f0e1'







