//-----------------------------------------------------------------------
//
//  Modules » Intro
//
//  Contains all Introduction text module style.
//
//-----------------------------------------------------------------------

.intro
  text-align: center
  h1
    margin-top: 0
    font-size: 40px
    text-transform: uppercase
