//-----------------------------------------------------------------------
//
//  Modules » Intro
//
//  Contains all Introduction text module style.
//
//-----------------------------------------------------------------------

.intro
  column(12)
  margin-bottom: 320px
  text-align: center
  color: #fff
  h1
    color: $green
    margin-top: 0
    font-size: 40px
    text-transform: uppercase
