//-----------------------------------------------------------------------
//
//  Modules » Logo
//
//  Contains all Logo module style.
//
//-----------------------------------------------------------------------

.logo
  font-size(24)
  width: 189px
  margin: 0 auto
  display: block
  @media (min-width: 480px)
    margin: 0
    float: left