//-----------------------------------------------------------------------
//
//  Modules » Logo
//
//  Contains all Logo module style.
//
//-----------------------------------------------------------------------

.logo
  font-size(24)
  float: left
  margin: 0