//-----------------------------------------------------------------------
//
//  Modules » Logo
//
//  Contains all Logo module style.
//
//-----------------------------------------------------------------------

.logo
  font-size(24)
  float: left
  margin: 0
  span:first-child
    color: $blue
    margin-right: 3px
  span:last-child
    color: $red