//-----------------------------------------------------------------------
//
//  Modules » Main Navigation
//
//  Contains all Main Navigation module style.
//
//-----------------------------------------------------------------------

.main-nav
  float: right
  ul
    padding: 0
    margin: 0
    list-style: none
