//-----------------------------------------------------------------------
//
//  Modules » Team
//
//  Contains all Team module style.
//
//-----------------------------------------------------------------------

.team-wrapper
  background: $gray

.team
  .section-title
    margin-top: 0
    margin-left: 10px
    @media (min-width: 480px)
      margin-left: 85px
    @media (min-width: 768px)
      margin-left: 0

.member
  text-align: center
  h1
    font-size(15)
    color: $blue
  h2
    font-size(13)
    font-weight: 400
    color: $dark-gray
    margin-bottom: 20px
  ul
    clearfix()
    text-align: center
    margin: 0
    list-style: none
    padding: 0
  li
    inline-block()
    margin-right: 10px
  a
    text-decoration: none

.member-img
  inline-block()
  margin-bottom: 20px
  border: 1px solid darken($gray, 10%)

