//-----------------------------------------------------------------------
//
//  Modules » Team
//
//  Contains all Team module style.
//
//-----------------------------------------------------------------------

.team-wrapper
  padding-top: 75px
  background: $gray

.team
  column(12)
  margin-bottom: 80px
  h1
    margin-top: 0

.member
  column(4)
  &:first-of-type
    margin-left: 0
  h1
    font-size(15)
    color: $blue
    margin-bottom: 20px
  ul
    clearfix()
    margin: 0
    list-style: none
    padding: 0
  li
    float: left
    margin-right: 10px
  a
    text-decoration: none

.member-img
  box-sizing: border-box
  border: 1px solid darken($gray, 10%)
  margin: 0
  margin-bottom: 20px

